# Скопируйте этот файл в .env и заполните своими значениями.
# Файл .env никогда никому не показывайте и не выкладывайте в открытый доступ.

# Токен, полученный от @BotFather
BOT_TOKEN=8855766626:AAFWpK6qn84q8O_MCEAjXPGUXFyQ78gaojs

# ID Google-таблицы (кусок ссылки между /d/ и /edit)
GOOGLE_SHEET_ID=1QuMrynxyDLUuzs6L4Fbynozu5KpZgtNgAsmM7D9zn-I

# Имя файла с ключом сервисного аккаунта Google (лежит рядом с bot.py)
GOOGLE_CREDENTIALS_FILE=service_account.json

# Названия вкладок (листов) внутри таблицы
GOOGLE_SHEET_WORKSHEET_REG=Регистрация
GOOGLE_SHEET_WORKSHEET_RECEIPTS=Чеки
